<h1>Checking password strength</h1>
<div class="form-group">
  <label for="passwordInput">Enter password</label>
  <input type="password" id="passwordInput" class="form-control" [value]="password"
         (input)="password=getValue($event)" placeholder="Password">
  <div class="password-section">
    Password strength
    <div class="password-section__wrapper">
      <div [class]="type === 'weak' ? 'password-section__item red' : type === 'easy' ? 'password-section__item red' : type === 'medium' ? 'password-section__item yellow' : type === 'strong' ? 'password-section__item green' : 'password-section__item'"></div>
      <div [class]="type === 'weak' ? 'password-section__item red' : type === 'easy' ? 'password-section__item' : type === 'medium' ? 'password-section__item yellow' : type === 'strong' ? 'password-section__item green' : 'password-section__item'"></div>
      <div [class]="type === 'weak' ? 'password-section__item red' : type === 'easy' ? 'password-section__item' : type === 'medium' ? 'password-section__item' : type === 'strong' ? 'password-section__item green' : 'password-section__item'"></div>
    </div>
  </div>
</div>
